spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/signaturedb
    username: postgres
    password: password

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8081

jwt:
  secret: mysecretkeymysecretkeymysecretkey
  expiration: 86400000
